* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --sans-serif: "Parkinsans", "Comfortaa", Helvetica, Arial, sans-serif;
    --serif: "Cormorant", "Petrona", Times, serif;
    --title: "Fredoka", "Quicksand", Helvetica, Arial, sans-serif;
    --deepblue: #0e1651;
    --lightblue: #7DBCDE;
    --white: #ffffff;
}

html {
  background-color: var(--deepblue);
}

body {
  font-size: 20px;
  font-family: var(--serif);
  color: var(--white);
  line-height: 1.6;
}

.hed,
.dek {
  color: #ffffff;
  text-shadow: 2px 2px 2px #242424;
}

.hed {
  font-family: var(--sans-serif);
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.1;
}

.dek {
  margin-top: 1.2em;
  font-style: italic;
}

main {
  margin: 2rem;
}

.content {
  max-width: 620px;
  margin: auto;
}

.byline {
  margin-left: -100px;
  margin-bottom: 2rem;
  font-family: var(--sans-serif);
  font-size: 0.9rem;
}

.byline-name {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.date {
  font-style: italic;
}

.first-graf::first-letter {
  font-size: 6rem;
  font-weight: bold;
  margin: 0 8px 0 -30px;
  line-height: 1;
  color: var(--lightblue);
  float: left;
}

p {
  padding-bottom: 1.2rem;
}

a {
  color: var(--lightblue);
}

.divider {
  text-align: center;
  margin: 50px;

  img {
    width: auto;
    height: 150px;
  }

  h2 {
    font-family: var(--sans-serif);
    margin-bottom: -20px;
    font-style: italic;
  }
}

footer {
  font-family: var(--sans-serif);
  font-size: 0.8rem;
  margin: 4em 10em 0;
  padding: 4em 10em;
  border-top: dotted 2px var(--lightblue);
  font-weight: 300;
  text-align: left;
}

/* margin on mobile */
@media (max-width: 640px) {
  body {
    font-size: 18px;
  }

  .content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .byline {
    margin-left: auto;
  }

  .first-graf::first-letter {
    margin-left: -20px;
    line-height: 0.8;
  }

  footer {
    font-size: 0.8rem;
    margin: auto;
    padding: 20px 50px;
    font-weight: 300;
    text-align: left;
  }
}

/* SCROLLY */
.scrolly-container {
    position: relative;
    margin-bottom: 1.2em;
}

.sticky-thing {
    position: sticky;
    top: 0;
    transform: translate(0px, 0px);
    z-index: 0;
    height: 100svh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.sticky-thing > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;  
}

.steps-container {
    transform: translate3d(0,0,0);
    position: relative;
    padding: 0;
    z-index: 10;
    max-width: 35rem;
    margin: 0 auto;
    padding-bottom: 4em;
}

.step {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50svh;
    transform: translate(0px, 0px);
    margin-bottom: 70vh; /* change this to adjust the padding between steps */
}

.step:last-child > .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    max-width: 600px;
}

.step > * {
    width: 700px;
    margin-left: 1.3em;
    margin-right: 1.3em;
    text-align: center;
    padding: 1.2em !important;
    border-radius: 20px;
}

.sticky-thing > canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    display: block;  
}

/* when it's less than 700 pixels wide, do normal scrolly */
@media only screen and (min-width: 700px) {
    .scrolly-container.side-by-side {
        display: flex;
    }

    .scrolly-container.side-by-side > div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75em;
    }

    .scrolly-container.side-by-side .scrolly-overlay {
        margin-top: 70vh;
        order: 0;
        /* change these to adjust sizing options */
        min-width: 15rem;
        max-width: 20rem;
    }

    .scrolly-container.side-by-side .sticky-thing {
        order: 1;
        flex-grow: 2;
    }
}